# Ignore node_modules directory
node_modules/

# Ignore generated build files
dist/
build/

# Ignore environment-specific files
.env
.env.*
*.env.local

# Ignore log files
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore editor-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db
